@import url("variables&global.css");
@import url("sideNav.css");
@import url("main.css");
@import url("header.css");
@import url("titleLabel.css");
@import url("footer.css");
@import url("searchOverlay.css");
@import url("toast.css");


.form-section{
  padding: 1rem/* 16px */;
  margin: 0 auto;
  max-width: 60rem/* 960px */;
}

.form-section > div{
  padding-bottom: 3rem/* 24px */;
}

.form-section > div:not(:first-child){
  padding-top: 3rem/* 24px */;
  border-top: var(--border);
}
@media (width >= 640px) {
  .form-section{
    padding: 1.5rem/* 24px */;
  }
}

.form-section svg{
  width: 1.5rem/* 24px */;
  height: 1.5rem/* 24px */;
}

.form-section .form-heading{
  display: flex;
  align-items: center;
  gap: 0.5rem/* 8px */;
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  font-weight: 600;
}

.form-section .form-info{
  margin-top: 0.25rem/* 8px */;
  color: rgb(71 85 105);
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}

.form-section >form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}
.form-section >form > div{
  display: flex;
  flex-direction: column;
  position: relative;
}
.form-section >form > div > p{
  margin-top: 0.5rem/* 8px */;
  color: rgb(107 114 128);
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
}
.form-section >form label{
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  font-weight: 600;
}

.form-section  .title,
.form-section  .description
{
  grid-column: 1 / -1;
}
.form-section .subject{
  grid-column: 1 / 3;

}
.form-section .class_faculty{
  grid-column: 3 / 4;
}
.form-section >form input,
.form-section >form textarea,
.form-section >form select{
  display: block;
  width: 100%;
  padding: 0.75rem 1.25rem/* 12px 20px */;
  margin-top: 0.5rem/* 8px */;
  background-color: var(--background-color);
  border: 1px solid rgb(209 213 219);
  border-radius: var(--border-radius);
  appearance: none;
}

.form-section >form .caret-up-down{
  position: absolute;
  top: 0;
  top: 50%;
  right: 1rem;
  /* transform: translateY(-50%); */
  pointer-events: none;
}

.form-section >form input::placeholder{
  color: rgb(107 114 128);
}

.form-section >form  > button{
  grid-column-start: 1;
  padding: 0.75rem 1.25rem/* 12px 20px */;
  background-color: rgb(17 24 39);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}